{% extends "website/templates/base.html" %}
{% block title %} Forgot Password {% endblock %}
{% block pagetitle %} FOSSEE Forums {% endblock %}
{% block formtitle %} Email will be send to the registered email address {% endblock %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'website/css/login.css' %}">
<br><br><br>
<div class="row">
<div class="form">
<div class="headerlogin"><h2> Recovery Email </h2></div>
<div class="login">
<br>
Kindly Enter Your Email ID used for Registration. The password Reset link wll be mailed to the same.
<br> <br>
<form action="" method="post">
    {% csrf_token %}
    {{ form }}

    <button class="btn btn-sm btn-primary" type="submit">Request</button>
    <a class="btn btn-sm " href="{{URL_ROOT}}/accounts/login/">Cancel</a>
</form>

<br>
</div>
</div>
 
</div>
{% endblock content %}
