{% extends "website/templates/base.html" %}
{% load widget_tweaks %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'website/css/login.css' %}">
<br><br><br>
<div class="row">
<div class="form">
<div class="headerlogin"><h2>Forgot Password</h2></div>
<div class="login">
     
   </br>
    {% if invalid_email %}
              <center>
                <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    <b>Invalid Email address</b>
                </div>
              </center>
              <div class="clearfix"></div>
          {% endif %}

        <form  method="POST"> {% csrf_token %}
            {{ form.as_p }}
            {% with WIDGET_ERROR_CLASS='field_error' %} 
                <p>Enter the Email address you used while registration.</p>
                <p >We will send you the updated login details on your Email address.</p>
                <form action="" method=POST enctype="multipart/form-data">
                    {% csrf_token %}
                    <p><input class="pwd-recovery-email" type=text id="email" name="email" style="width:80%" placeholder="Your Email"></p>
                    <p><input class="btn btn-primary  btn-sm" type=submit value="Reset Password"></p>
                </form>
            {% endwith %}

        </form>
</br>
  
       
    </div>
 </br>    
                            <div class="sign">
<div class="need">Already Registered? </div>
<div> <a href="/accounts/login/" class="btn  btn-sm btn-success">Login </a></div>
</div>
            
</div>
 
</div> <!-- /.row -->
{% endblock %}

{% block javascript %}
    $(".alert").alert();
{% endblock %}

