
{% extends "website/templates/base.html" %}
{% block title %} Forgot Password {% endblock %}
{% block pagetitle %} FOSSEE Forums {% endblock %}
{% block formtitle %} Email will be send to the registered email address {% endblock %}
{% block content %}
<div></div>
<p>Enter the Email address you used while registration.</p>
    <p >We will send you the updated login details on your Email address.</p>
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <button class="btn" type="submit">Request</button>
    <a class="btn" href="{{URL_ROOT}}/exam/login/">Cancel</a>
</form>
{% endblock content %}	