Django==1.5
django-recaptcha==1.0.2
argparse==1.2.1
beautifulsoup4==4.3.2
distribute==0.7.3
django-appconf==0.6
django-compressor==1.3
django-debug-toolbar==1.0.1
django-htmlmin==0.7.0
django-widget-tweaks==1.3
html5lib==1.0b3
six==1.6.1
sqlparse==0.1.11
wsgiref==0.1.2
django-googlesearch
celery==3.1.18