.container {
    max-width: 970px;
}
#header-wrapper {

}
#header-inner {
    
}
#content-wrapper {
    padding: 0 0 25px 0;
}
#content-inner {
    min-height: 600px;
}
#content{
}
#content .question {
    position: relative;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #f5f5f5;
}
#content .editable {
    padding: 15px 5px 15px 5px;
    background: lightyellow;
}
#content .question .title a{
    padding: 0 0 7px 0;
    font-size: 1.3em;
    color: #424242;
}
#content .question .body {
    padding: 10px;
    background: #fafafa;
}
#content .question .category a,
#content .question .tutorial a,
#content .question .minute_range a,
#content .question .second_range a {
    padding: 3px 5px;
    margin: 0 10px 0 0;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}
#content .question .category a {
    background: #a26dc8;
    color: #ffffff;
}
#content .question .tutorial a {
    background: #424242;
    color: #ffffff;
}
#content .question .minute_range a {
    background: #f5f5f5;
    color: #424242;
}
#content .question .second_range a {
    background: #f5f5f5;
    color: #424242;
}
#content .question .user {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 2px 7px;
    background: #f5f5f5;
}
#questionNicPanel {
    display: none;
}
.modify {
    display: none;
    position: absolute;
    top: 0;
    right:0;
}
.modify a.edit {
}
.modify a.save {
    display: none;
}
#content .reply {
    position: relative;
    border-bottom: 1px solid #f5f5f5;
    padding: 20px 0;
}
#content .reply .body {
}
#content .reply .user {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 2px 7px;
    background: #f5f5f5;
}
#footer-wrapper {
    background-color: #2d2d2d;
    min-height: 60px;
}
#footer-inner {
    
}
.field_error {
    border: 1px solid red;
}
