{% extends MODERATOR_ACTIVATED|yesno:'website/templates/moderator/base.html,website/templates/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load permission_tags %}
{% load helpers %}
{% load i18n %}


{% block title %}
{{ question.category }} - {{ question.title }} - FOSSEE Forums
{% endblock %}



{% block content %}
{{ form.media }}
<div class="row">
    {% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success h5">
        {% else %}
        <div class="alert alert-danger h5">
        {% endif %}
            <a class="close" data-dismiss="alert" aria-label="close" style="color: black;">&times;</a>
            <b>{{ message }}</b>
        </div>
    {% endfor %}
    {% endif %}
    <div class="question-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="question">
            <!-- VOTE CELL -->

            <div class="votecell" style="padding-top: 0.0cm;">
                <div class="vote">

                    {% ifequal thisUserUpvote 0 %}
                    <img src="{% static 'website/images/up1-off.png' %}" class="vote-up" />
                    {% else %}
                    <img src="{% static 'website/images/up1-on.png' %}" class="vote-up selected" />
                    {% endifequal %}

                    <span class="vote-count-post" id="show_vote_count">
                        {{ net_count }}
                    </span>

                    {% ifequal thisUserDownvote 0 %}
                    <img src="{% static 'website/images/down1-off.png' %}" class="vote-down" />
                    {% else %}
                    <img src="{% static 'website/images/down1-on.png' %}" class="vote-down selected" />
                    {% endifequal %}
                </div>
            </div>

            <div class="title">
                {{ question.title }}
            </div>

            <div class="body" style="margin-left : 60px">
                <p>{{ question.body| safe}}</p>
                {% if question.image %}
                <img src={{ question.image.url }} />
                {% endif %}
                {% if question.is_spam %}<div class="text-danger"> Oops! Looks like spam! Waiting for moderator approval.</div>{% endif %}
            </div>
            <br>

            <span class="category">
                <small>
                    <a href="{% url 'website:filter' question.category %}">
                        {{ question.category }}
                    </a>
                </small>
            </span>

            {% if sub_category %}
            <span class="tutorial">
                <small>
                    <a href="{% url 'website:filter' question.category question.sub_category %}">
                        {{ question.sub_category}}
                    </a>
                </small>
            </span>
            {% endif %}

            {% if MODERATOR_ACTIVATED %}
            {% if question.is_spam %}
            <span class="spam">
                <small>
                    <a href="{% url 'website:moderator_questions' %}?spam">
                        Spam
                    </a>
                </small>
            </span>
            {% else %}
            <span class="non-spam">
                <small>
                    <a href="{% url 'website:moderator_questions' %}?non-spam">
                        Not Spam
                    </a>
                </small>
            </span>
            {% endif %}
            {% endif %}

            <span class="modify">
                {% if user|is_author:question and not ans_count or MODERATOR_ACTIVATED %}
                {% if question.is_active %}
                <a class="edit btn btn-xs btn-info" href="{% url 'website:edit_question' question.id %}">Edit</a>
                <a class="delete btn btn-xs btn-info" data-toggle="modal" data-target="#questionDeleteModal">Delete</a>
                {% if question.is_spam and MODERATOR_ACTIVATED %}
                <a class="btn btn-xs btn-info" href="{% url 'website:approve_spam_question' question.id %}">Mark Not-Spam</a>
                {% endif %}
                {% else %}
                <a class="restore btn btn-xs btn-info"
                    href="{% url 'website:question_restore' question.id %}">Restore</a>
                {% endif %}
                {% endif %}
            </span>

            <span class="meta">
                <small>
                    <i>
                        {{ question.date_created|date:"d-m-y" }}, {{ question.date_created|time }}
                    </i>
                </small>

                <span class="user">
                    <a href="/accounts/view-profile/{{ question.user.id }}"> {{question.user}} </a>
                </span>
            </span>

        </div> <!-- /.question -->
    </div>

</div> <!-- /.row -->


{% for answer, ans_vote in main_list %}

<!-- Checking if answer needs to be blurred -->
{% if answer.is_spam and not MODERATOR_ACTIVATED and not user|is_author:answer %}
    {% trans 'blur' as blur %}
{% endif %}

<div class="row">
    <div class="answer-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="votecell" style="padding-top: 9px;">
            <div class="ans-vote">
                {% ifequal ans_vote.0 0 %}
                <img src="{% static 'website/images/up1-off.png' %}" class="ans-vote-up {{ answer.uid }}"
                    id="up{{ answer.id }}" title="This question shows research effort; it is useful and clear" />
                {% else %}
                <img src="{% static 'website/images/up1-on.png' %}" class="ans-vote-up selected {{ answer.uid }}"
                    id="up{{ answer.id }}" title="This question shows research effort; it is useful and clear" />
                {% endifequal %}

                <span class="vote-count-post" id="span{{ answer.id }}">
                    {{ ans_vote.2 }}
                </span>
                {% ifequal ans_vote.1 0 %}
                <img type="image" src="{% static 'website/images/down1-off.png' %}"
                    class="ans-vote-down {{ answer.uid }}" id="down{{ answer.id }}"
                    title="This question does not show any research effort; it is not useful and unclear" />
                {% else %}
                <img src="{% static 'website/images/down1-on.png' %}" class="ans-vote-down selected {{ answer.uid }}"
                    id="down{{ answer.id }}"
                    title="This question does not show any research effort; it is not useful and unclear" />
                {% endifequal %}
            </div>
        </div>

        <div class="answer {{blur}} {% if user|is_author:answer %}editable {% endif %}"
            id="answer{{answer.id}}" style="margin-left: 63px;">
            <div class="body" id="body{{ answer.id }}" style="padding-bottom: 12px; padding-top: 15px">
                {% if MODERATOR_ACTIVATED or user|is_author:answer and answer|havenot_comments %}
                <form id="form{{ answer.id }}" method="POST" action="{% url 'website:answer_update' %}">
                    {% csrf_token %}
                    <input type="hidden" name="answer_id" value="{{ answer.id }}">
                    <div class="edit-answer" id="ans{{ answer.id }}1">
                        {% with "ate"|addstr:answer.id as ate_id %}
                        {% render_field form.body class+="form-control body" name="answer_body" id=ate_id %}
                        {% endwith %}
                    </div>
                </form>
                {% endif %}
                <div id="ans{{ answer.id }}2">{{ answer.body| safe }}</div>
                {% if answer.is_spam %}<div class="text-danger"> Oops! Looks like spam! Waiting for moderator approval.</div>{% endif %}
                {% if MODERATOR_ACTIVATED or user|is_author:answer and answer|havenot_comments %}
                <script type="text/javascript">
                    CKEDITOR.on("instanceReady", function (event) {
                        CKEDITOR.instances['ate{{ answer.id }}'].setData(document.getElementById(
                            "ans{{ answer.id }}2").innerHTML);
                    });
                </script>
                {% endif %}
                {% if answer.image %}
                <img src={{ answer.image.url }} />
                {% endif %}
            </div>

            {% if MODERATOR_ACTIVATED %}
                {% if answer.is_spam %}
                <span class="spam">
                    <small>
                        <a href="#">
                            Spam
                        </a>
                    </small>
                </span>
                {% else %}
                <span class="non-spam">
                    <small>
                        <a href="#">
                            Not Spam
                        </a>
                    </small>
                </span>
                {% endif %}
                {% if answer.is_active %}
                <a data-toggle="modal" data-target="#detailsModal{{ answer.id }}" href="#">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                {% endif %}
            {% endif %}

            <span class="meta">
                <small>
                    <i>
                        {{ answer.date_created|date:"d-m-y" }}, {{ answer.date_created|time }}
                    </i>
                </small>

                <span class="user" style="background-color: #FFFFFF;padding: 2px 7px">
                    <a href="/accounts/view-profile/{{ answer.user.id }}"> {{answer.user}} </a>
                </span>
            </span>

            {% if MODERATOR_ACTIVATED or user|is_author:answer and answer|havenot_comments %}
            <span class="modify" style="display:block">
                {% if answer.is_active %}
                <a class="delete btn btn-xs btn-info vs ansdel" data-toggle="modal" data-target="#answerDeleteModal"
                    data-id="{{ answer.id }}" href="#{{ answer.id }}">Delete</a>
                <a class="edit btn btn-xs btn-info vs" data-target="body{{ answer.id }}"
                    id="ans{{ answer.id }}">Edit</a>
                <a class="save btn btn-xs btn-success vs" data-target="body{{ answer.id }}" data-aid="{{ answer.id }}"
                    data-form="form{{ answer.id }}" style="display: none;">Save</a>
                <a class="cancel btn btn-xs btn-info vs" data-target="body{{ answer.id }}"
                    data-id="ans{{ answer.id }}" style="display: none;">Cancel</a>
                {% else %}
                {% if MODERATOR_ACTIVATED %}
                <a class="restore btn btn-xs btn-info vs ansres" data-id="{{ answer.id }}"
                    href="{% url 'website:answer_restore' answer.id %}">Restore</a>
                {% endif %}
                {% endif %}
            </span>
            {% endif %}

            <!-- Modal to mark answer as spam/non-spam -->
            <div class="modal fade" id="detailsModal{{ answer.id }}" tabindex="-1" role="dialog"
                aria-labelledby="detailsModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Edit Answer Details</h4>
                        </div>
                        <div class="modal-body">
                            <h5>Mark answer as:</h5>
                            <form method="POST" action="{% url 'website:mark_answer_spam' answer.id %}">
                                {% csrf_token %}
                                <select name="selector">
                                    {% if answer.is_spam %}
                                    <option value="spam" selected>Spam</option>
                                    <option value="non-spam">Not spam</option>
                                    {% else %}
                                    <option value="spam">Spam</option>
                                    <option value="non-spam" selected>Not spam</option>
                                    {% endif %}
                                </select>
                                <hr>
                                <div class="pull-right">
                                    <input type="submit" class="btn btn-sm btn-success" value="Submit">
                                    <a class="btn btn-sm btn-default" data-dismiss="modal">Close</a>
                                </div>
                            </form>
                        
                            <div class="clearfix"></div>
                        </div> <!-- /.modal-body -->
                    </div> <!-- /.modal-content -->
                </div> <!-- /.modal-dialog -->
            </div> <!-- /.modal -->

        </div> <!-- /.answer -->

        <div class="row" style="padding-left: 40px">
            <div class="comments pull-right col-lg-11 col-md-11 col-sm-11 col-xs-11">
                <!-- displaying comments -->
                {% for comment in answer.answercomment_set.all %}

                    <!-- Checking if comment needs to be blurred (if not already) -->
                    {% if not answer.is_spam or not blur %}
                        {% if comment.is_spam and not MODERATOR_ACTIVATED and not user|is_author:comment %}
                            {% trans 'blur' as blur %}
                        {% else %}
                            {% trans '' as blur %}
                        {% endif %}
                    {% endif %}

                    {% if comment.is_active or MODERATOR_ACTIVATED %}
                    <!-- Comment -->
                    {% if comment.is_active %}
                    <div class="comment comment{{ comment.id }} {{blur}}" id="comm{{ comment.id }}"
                        style="padding: 15px 15px 15px 5px;">
                    {% else %}
                    <div class="comment comment{{ comment.id }} {{blur}}" id="comm{{ comment.id }}"
                        style="padding: 15px 15px 15px 5px; border-bottom: 1.5px solid red;">
                    {% endif %}
                        <div class="body" id="cbody{{ comment.id }}">
                            {{ comment.body| safe }}
                        </div>
                        {% if comment.is_spam %}<div class="text-danger"> Oops! Looks like spam! Waiting for moderator approval.</div>{% endif %}
                        <br>
                        <!-- Options provided on comment -->
                        {% if MODERATOR_ACTIVATED or user|is_author:comment and answer|can_delete:comment.id %}
                            <!-- Accessible if user is a moderator OR 
                                (user is the author of comment AND there are no comments after it) -->
                            {% if comment.is_active %}
                            <form id="save_comment{{ comment.id }}" method="POST"
                                action="{% url 'website:answer_comment_update' %}">
                                <div id="ceditor{{ comment.id }}" style="padding-bottom: 20px; display: none;">
                                    {% csrf_token %}
                                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                    {% with "cte"|addstr:comment.id as cte_id %}
                                    {% render_field form.body class+="form-control body" name="comment_body" id=cte_id %}
                                    {% endwith %}
                                </div>
                            </form>
                            <span class="meta_co" style="position: absolute; left: 0px; bottom: 0px; padding: 7px 7px;">
                                <a class="edit-comment btn btn-xs btn-info vs" id="ed-com{{ comment.id }}" data-id="{{ comment.id }}">Edit</a>
                            </span>
                            <span class="meta_co" style="position: absolute; left: 0px; bottom: 0px; padding: 7px 7px;">
                                <a class="save-comment btn btn-xs btn-info vs" id="com{{ comment.id }}" data-form="{{ comment.id }}"
                                    style="display: none;">Save</a>
                            </span>
                            <script type="text/javascript">
                                CKEDITOR.on("instanceReady", function (event) {
                                    CKEDITOR.instances['cte{{ comment.id }}'].setData(document.getElementById(
                                        "cbody{{ comment.id }}").innerHTML);
                                });
                            </script>
                            <span class="meta_co" style="position: absolute; left: 40px; bottom: 0px; padding: 7px 7px;">
                                <a class="delete-comment btn btn-xs btn-info vs" data-toggle="modal" data-target="#commentDeleteModal"
                                    data-id="{{ comment.id }}">Delete</a>
                            </span>
                            <span class="meta_co" style="position: absolute; left: 87px; bottom: 0px; padding: 7px 7px;">
                                <a class="cancel-edit-comment btn btn-xs btn-info vs" id="can-ed-com{{ comment.id }}" data-id="{{ comment.id }}"
                                    style="display: none;">Cancel</a>
                            </span>
                            {% else %}
                                {% if MODERATOR_ACTIVATED %}
                                <span class="meta_co" style="position: absolute; left: 0px; bottom: 0px; padding: 7px 7px;">
                                    <a class="restore-comment btn btn-xs btn-info vs"
                                        href="{% url 'website:comment_restore' comment.id %}">Restore</a>
                                </span>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        <!-- /.Options provided on comment -->

                        <span class="meta_co" style="position: absolute;right: 0px; bottom: 0px;">
                            <small>
                                <i>
                                    {{ comment.date_created|date:"d-m-y" }}, {{ comment.date_created|time }}
                                </i>
                            </small>
                            <span style="padding: 2px 7px">
                                <a href="/accounts/view-profile/{{ comment.user.id }}"> {{comment.user}} </a>
                            </span>
                        </span>

                        {% if MODERATOR_ACTIVATED and comment.is_active %}
                        <span class="modify" style="display:block">
                            {% if comment.is_spam %}
                            <a class="btn btn-xs btn-info vs spam-comment" data-toggle="modal" data-target="#commentSpamModal"
                                data-id="{{ comment.id }}" data-spam="not-spam" href="#{{ comment.id }}">Mark Not-Spam</a>
                            {% else %}
                            <a class="btn btn-xs btn-danger vs spam-comment" data-toggle="modal" data-target="#commentSpamModal"
                                data-id="{{ comment.id }}" data-spam="spam" href="#{{ comment.id }}">Mark Spam</a>
                            {% endif %}
                        </span>
                        {% endif %}

                    </div>
                    <!-- /.Comment -->
                    {% endif %}
                {% endfor %}
                <br>

                <!-- Add New Comment -->
                <!-- Only Authenticated users are allowed to post comments -->
                {% if user.is_authenticated %} 

                    {% if not MODERATOR_ACTIVATED %}
                    <form id="comment_form{{ answer.id }}" method="post" action="{% url 'website:answer_comment' answer.id %}">
                        {% csrf_token %}
                        <div class="new-comment" id="comment{{ answer.id }}1">
                            {% render_field form.body class+="form-control body" id=answer|comment_id %}
                        </div>
                    </form>
                    <a class="add-comment {% if answer.is_spam %}blur{% endif %}"
                        data-target="comment{{ answer.id }}" id="comment{{ answer.id }}">
                        <small>Add Comment</small>
                    </a>
                        {% if answer.is_spam and not user|is_author:answer %}
                        <div class="text-danger" style="margin-top: 10px;">Oops! Looks like spam! Waiting for moderator approval</div>
                        {% endif %}
                    {% endif %}


                <a class="post-comment" data-target="comment{{ answer.id }}" data-aid="comment{{ answer.id }}"
                    data-form="comment_form{{ answer.id }}" onclick="submit_btn()">
                    <small>Post Comment</small>
                </a>

                <a class="cancel-comment" data-target="comment{{ answer.id }}">
                    <small>Cancel Comment</small>
                </a>
                {% else %}
                

                <a class="btn btn-xs btn-success vs {% if answer.is_spam %}blur{% endif %}" 
                    href="{% url 'user_login'%}?next={{ request.get_full_path|urlencode }}"
                    style="padding-top: 2px !important;">
                    Login to add comment
                </a>
                    {% if answer.is_spam %}
                    <div class="text-danger" style="margin-top: 10px;">Oops! Looks like spam! Waiting for moderator approval</div>
                    {% endif %}
                {% endif %}

            </div> <!-- comments -->
        </div> <!-- /.row -->
        <br>
        <hr>
    </div> <!-- /.answer-wrapper -->
</div> <!-- /.row -->
{% endfor %}

{% if not MODERATOR_ACTIVATED and not question.is_spam %}
{% if user.is_authenticated %}
<form action="{% url 'website:question_answer' question.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% with WIDGET_ERROR_CLASS='field_error' %}

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {{ form.body.errors }}
            <div class="form-group">
                {% render_field form.question value=question.id %}
                <label for="id_body">
                    <h4><u>Your Answer:</u></h4>
                </label>
                <br>
                {% render_field form.body class+="form-control body" id="editor1" %}
                <br>
                <br>
                <label for="id_image">Upload an image:</label>
                {% render_field form.image %}
            </div>
        </div>
    </div>


    {% endwith %}

    <script src='https://www.google.com/recaptcha/api.js'></script>

    <div class="g-recaptcha" data-sitekey="{{ SITE_KEY }}" data-callback="enableBtn"></div>

    <script type="text/javascript">
        function enableBtn() {
            document.getElementById("submit_answer").disabled = false;
        }

        function changeText() {
            document.getElementById("submit_answer").value = "Submitting...";
            alert("Thank you for answering. It will be published after moderator approval");
            return validate_dd();
        }
    </script>
    <div style="color:red">{{ error }}</div>
    <br>

    <input id="submit_answer" class="btn btn-sm btn-info" onclick="changeText()" type="submit" value="Submit Answer"
        disabled>
</form>

{% else %}
<h4>
    <a class="btn btn-xs btn-success"
        href="{% url 'user_login'%}?next={{ request.get_full_path|urlencode }}"><b>Log-in</b></a> to answer to this
    question.
</h4>
{% endif %}
{% endif %}

<!-- Modal to delete question -->
<div class="modal fade" id="questionDeleteModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Delete question</h4>
            </div>
            <div class="modal-body">
                {% if MODERATOR_ACTIVATED %}
                <h5>Why is this question being deleted?</h5>
                {% else %}
                <h5>Are you sure about deleting the question?</h5>
                {% endif %}
                <form method="POST" action="{% url 'website:question_delete' question.id %}">
                    {% csrf_token %}
                    {% if MODERATOR_ACTIVATED %}
                    <textarea name="deleteQuestion" required></textarea>
                    {% endif %}
                    <hr>
                    <div class="pull-right">
                        <input type="submit" class="btn btn-sm btn-success" value="Okay">
                        <a class="btn btn-sm btn-default" data-dismiss="modal" href="#">Close</a>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div> <!-- /.modal-body -->
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

<!-- Modal to delete answer -->
<div class="modal fade" id="answerDeleteModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel"
aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Delete Answer</h4>
        </div>
        <div class="modal-body">
            {% if MODERATOR_ACTIVATED %}
            <h5>Why is this answer being deleted?</h5>
            {% else %}
            <h5>Are you sure about deleting the answer?</h5>
            {% endif %}
            <form id="answerDeleteForm" method="POST" action="">
                {% csrf_token %}
                {% if MODERATOR_ACTIVATED %}
                <textarea name="deleteAnswer" required></textarea>
                {% endif %}
                <hr>
                <div class="pull-right">
                    <input type="submit" class="btn btn-sm btn-success" value="Okay">
                    <a class="btn btn-sm btn-default" data-dismiss="modal">Close</a>
                </div>
            </form>
            <div class="clearfix"></div>
        </div> <!-- /.modal-body -->
    </div> <!-- /.modal-content -->
</div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

<!-- Modal to delete comment -->
<div class="modal fade" id="commentDeleteModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel"
aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Delete Comment</h4>
        </div>
        <div class="modal-body">
            {% if MODERATOR_ACTIVATED %}
            <h5>Why is this comment being deleted?</h5>
            {% else %}
            <h5>Are you sure about deleting the comment?</h5>
            {% endif %}
            <form id="commentDeleteForm" method="POST" action="">
                {% csrf_token %}
                {% if MODERATOR_ACTIVATED %}
                <textarea name="deleteComment" required></textarea>
                {% endif %}
                <hr>
                <div class="pull-right">
                    <input type="submit" class="btn btn-sm btn-success" value="Okay">
                    <a class="btn btn-sm btn-default" data-dismiss="modal">Close</a>
                </div>
            </form>
            <div class="clearfix"></div>
        </div> <!-- /.modal-body -->
    </div> <!-- /.modal-content -->
</div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

<!-- Modal to Mark Comment as Spam/Not-Spam -->
<div class="modal fade" id="commentSpamModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel"
aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="commentSpamModalTitle"></h4>
        </div>
        <div class="modal-body">
            <h5 id="commentSpamModalBody"></h5>
            <form id="commentSpamForm" method="POST" action="">
                {% csrf_token %}
                <input type="hidden" name="choice" id="commentSpamModalChoice" value="">
                <hr>
                <div class="pull-right">
                    <input type="submit" class="btn btn-sm btn-success" value="Okay">
                    <a class="btn btn-sm btn-default" data-dismiss="modal">Close</a>
                </div>
            </form>
            <div class="clearfix"></div>
        </div> <!-- /.modal-body -->
    </div> <!-- /.modal-content -->
</div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

{% endblock %}

{% block javascript %}

<script type="text/javascript">
    $(".user_co").each(function () {
        var hue = 'rgb(' + (Math.floor((256 - 199) * Math.random()) + 200) + ',' + (Math.floor((256 - 199) *
            Math.random()) + 200) + ',' + (Math.floor((256 - 199) * Math.random()) + 200) + ')';
        $(this).css("background-color", hue);
    });

    // Run below code only when document is completely loaded
    $(document).ready(function () {

        $.ajaxSetup({
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
        });

        // CSS property to allow mouse-handling functions
        $('div.vote img.vote-up').css('pointer-events', 'auto');
        $('div.vote img.vote-down').css('pointer-events', 'auto');
        $('div.ans-vote img.ans-vote-up').css('pointer-events', 'auto');
        $('div.ans-vote img.ans-vote-down').css('pointer-events', 'auto');


        /* VOTE FOR QUESTION */
        $('div.vote img.vote-up').click(function () {
            var question_user_id = {{ question.user_id }};
            var current_user_id = {{ request.user.id }};
            var id = {{ question.pk }};
            var vote_type = 'up';

            if (question_user_id != current_user_id) {

                /* USER HAS ALREADY VOTED */
                if ($(this).hasClass('selected')) {
                    var vote_action = 'recall-vote'
                    $.post('/ajax-vote-post/', {
                        id: id,
                        type: vote_type,
                        action: vote_action
                    }, function (response) {
                        $('img.vote-up').removeAttr('src')
                            .attr('src', "{% static 'website/images/up1-off.png' %}")
                            .removeClass('selected');
                        $('div.vote span.vote-count-post').html(response);
                    });
                }

                /* USER WISHES TO VOTE */
                else {
                    var vote_action = 'vote'
                    $.post('/ajax-vote-post/', {
                        id: id,
                        type: vote_type,
                        action: vote_action
                    }, function (response) {
                        if ($('img.vote-down').hasClass('selected')) {
                            $('img.vote-down').removeAttr('src')
                                .attr('src', "{% static 'website/images/down1-off.png' %}")
                                .removeClass('selected');
                        }
                        $('img.vote-up').removeAttr('src')
                            .attr('src', "{% static 'website/images/up1-on.png' %}")
                            .addClass('selected');
                        $('div.vote span.vote-count-post').html(response);
                    });
                }
            } else {
                $(this).attr("title", "User who posted cannot vote");
            }

        });

        /* DOWNVOTE */
        $('div.vote img.vote-down').click(function () {

            var question_user_id = {{ question.user_id }};
            var current_user_id = {{ request.user.id }};
            var id = {{ question.pk }};
            var vote_type = 'down';

            if (question_user_id != current_user_id) {

                /* USER HAS ALREADY DOWN-VOTED */
                if ($(this).hasClass('selected')) {
                    var vote_action = 'recall-vote';
                    $.post('/ajax-vote-post/', {
                        id: id,
                        type: vote_type,
                        action: vote_action
                    }, function (response) {
                        $('img.vote-down').removeAttr('src')
                            .attr('src', "{% static 'website/images/down1-off.png' %}")
                            .removeClass('selected');
                        $('div.vote span.vote-count-post').html(response);
                    });
                }

                /* USER WISHES TO VOTE */
                else {
                    var vote_action = 'vote';
                    $.post('/ajax-vote-post/', {
                        id: id,
                        type: vote_type,
                        action: vote_action
                    }, function (response) {
                        if ($('img.vote-up').hasClass('selected')) {
                            $('img.vote-up').removeAttr('src')
                                .attr('src', "{% static 'website/images/up1-off.png' %}")
                                .removeClass('selected');
                        }
                        $('img.vote-down').removeAttr('src')
                            .attr('src', "{% static 'website/images/down1-on.png' %}")
                            .addClass('selected');
                        $('div.vote span.vote-count-post').html(response);
                    });
                }
            }

        });

        /* TO DISPLAY ERROR TEXT IF SAME USER VOTES */
        $('div.vote').hover(function () {

            var question_user_id = {{ question.user_id }};
            var current_user_id = {{ request.user.id }};

            if (question_user_id == current_user_id) {
                $(this).attr("title", "User who posted cannot vote.");
            }

        });

        /* VOTE FOR ANSWERS */

        /* UP VOTE */
        $('div.ans-vote img.ans-vote-up').click(function (event) {

            var vote_type = 'up';
            var up_id = event.target.id;
            var id = up_id.replace('up', '');
            var down_id = up_id.replace('up', 'down');
            var current_user_id = {{ request.user.id }};

            // Getting the user ID of current answer
            if ($(this).hasClass('selected'))
                var answer_user_id = event.target.classList.item(2);
            else
                var answer_user_id = event.target.classList.item(1);

            if (answer_user_id != current_user_id) {

                /* USER WISHES TO RECALL VOTE */
                if ($('img#' + up_id).hasClass('selected')) {
                    var vote_action = 'recall-vote'
                    $.post('/ajax-ans-vote-post/', {
                        id: id,
                        type: vote_type,
                        action: vote_action
                    }, function (response) {
                        $('img#' + up_id).removeAttr('src')
                            .attr('src', "{% static 'website/images/up1-off.png' %}")
                            .removeClass('selected');
                        $('span#span' + id).html(response);
                    });
                }

                /* USER WISHES TO VOTE */
                else {
                    var vote_action = 'vote'
                    $.post('/ajax-ans-vote-post/', {
                        id: id,
                        type: vote_type,
                        action: vote_action
                    }, function (response) {
                        if ($('img#' + down_id).hasClass('selected')) {
                            $('img#' + down_id).removeAttr('src')
                                .attr('src', "{% static 'website/images/down1-off.png' %}")
                                .removeClass('selected');
                        }
                        $('img#' + up_id).removeAttr('src')
                            .attr('src', "{% static 'website/images/up1-on.png' %}")
                            .addClass('selected');
                        $('span#span' + id).html(response);
                    });
                }
            }

        });
        /* END OF UP VOTE FOR ANSWERS */


        /* DOWNVOTE */
        $('div.ans-vote img.ans-vote-down').click(function (event) {

            var vote_type = 'down';
            var down_id = event.target.id;
            var id = down_id.replace('down', '');
            var up_id = down_id.replace('down', 'up');
            var current_user_id = {{ request.user.id }};

            // Getting the user ID of current answer
            if ($(this).hasClass('selected'))
                var answer_user_id = event.target.classList.item(2);
            else
                var answer_user_id = event.target.classList.item(1);


            if (answer_user_id != current_user_id) {

                /* USER HAS ALREADY DOWN-VOTED */
                if ($('img#' + down_id).hasClass('selected')) {
                    var vote_action = 'recall-vote'

                    $.post('/ajax-ans-vote-post/', {
                        id: id,
                        type: vote_type,
                        action: vote_action
                    }, function (response) {
                        $('img#' + down_id).removeAttr('src')
                            .attr('src', "{% static 'website/images/down1-off.png' %}")
                            .removeClass('selected');
                        $('div.ans-vote span#span' + id).html(response);
                    });
                }

                /* USER WISHES TO VOTE */
                else {
                    var vote_action = 'vote'
                    $.post('/ajax-ans-vote-post/', {
                        id: id,
                        type: vote_type,
                        action: vote_action
                    }, function (response) {
                        if ($('img#' + up_id).hasClass('selected')) {
                            $('img#' + up_id).removeAttr('src')
                                .attr('src', "{% static 'website/images/up1-off.png' %}")
                                .removeClass('selected');
                        }
                        $('img#' + down_id).removeAttr('src')
                            .attr('src', "{% static 'website/images/down1-on.png' %}")
                            .addClass('selected');
                        $('div.ans-vote span#span' + id).html(response);
                    });
                }
            }
        });

        // Highlight the Hash div on load
        var hash_div = window.location.hash;
        $(hash_div).effect("highlight", {color: '#99cfe0'}, 3000);
    });
</script>

<!-- Script to POST answer delete form data -->
<script type="text/javascript">
    $('.ansdel').on('click', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var id = $(this).data('id') // Extract info from data-* attributes
        $("#answerDeleteForm").attr("action", "/answer_delete/" + id + "/");
    })
</script>

<!-- Script to POST comment delete form data -->
<script type="text/javascript">
    $('.delete-comment').on('click', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var id = $(this).data('id') // Extract info from data-* attributes
        $("#commentDeleteForm").attr("action", "/comment_delete/" + id + "/");
    })
</script>

<!-- Script to POST comment spam form data -->
<script type="text/javascript">
    $('.spam-comment').on('click', function (event) {
        var id = $(this).data('id') // Extract info from data-* attributes
        var choice = $(this).data('spam')

        var title = document.querySelector('#commentSpamModalTitle');
        var body = document.querySelector('#commentSpamModalBody');
        var input = document.querySelector('#commentSpamModalChoice');
        if(choice == "spam"){
            title.innerHTML = "Mark Comment as Spam";
            body.innerHTML = "Are you sure about marking this comment as Spam?"
            input.value = "spam";
        }
        else{
            title.innerHTML = "Mark Comment as Not-Spam";
            body.innerHTML = "Are you sure about marking this comment as Not-Spam?"
            input.value = "not-spam";
        }
        $("#commentSpamForm").attr("action", "/mark_comment_spam/" + id + "/");
    })
</script>

<script src="{% static 'website/js/thread-user.js' %}"></script>
<script src="{% static 'website/js/custom.js' %}"></script>

{% endblock %}