{% extends 'website/templates/base.html' %}
{% load notify %}

{% block title %}
    Notificatons - FOSSEE Forums
{% endblock %}

{% block content%}

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success h5">
            {% else %}
            <div class="alert alert-danger h5">
            {% endif %}
                <a class="close" data-dismiss="alert" aria-label="close" style="color: black;">&times;</a>
                <b>{{ message }}</b>
            </div>
        {% endfor %}
    {% endif %}

    <h4 class="pull-left">Notifications</h4>
    <a class="btn btn-xs btn-warning pull-right" href="{% url 'website:clear_notifications' %}" style="margin-top: 7px;">
        Clear All
    </a>
    <div class="clearfix"></div> 

    {% for notification in notifications %}
        {% get_notification notification.id %}
    {% endfor %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {

            $(".remove").one("click", function() {
                $(this).parent(".notification").slideUp();
                var notification_id = $(this).data("nid");
                $.post({
                    url: "/ajax-notification-remove/",
                    type: "POST",
                    data: {
                        notification_id: notification_id
                    },
                    success: function(data) {
                        console.log(data);
                    }
                });
            });
            
            $(".rmc").one("click", function() {
            	$(this).parent(".notification").slideUp();   
                var notification_id = $(this).data("nid");
                $.post({
                    url: "/ajax-notification-remove/",
                    type: "POST",
                    data: {
                        notification_id: notification_id
                    },
                    success: function(data) {
                        console.log(data); 
                    }
                });
            });
            
        });
    </script>
{% endblock %}
