{% extends 'website/templates/base.html' %}
{% load static %}
{% load count_tags %}

{% block title %}
Previous Questions - FOSSEE Forums
{% endblock %}
{% block content %}

<script>
    $(document).ready(function () {
        var table = $("#myTable").DataTable({
            // 'sPaginationType': "scrolling"
        });
        $('#category').change(function (e) {
            var selectedCategory = $(this).children("option:selected").val();
            if (selectedCategory != "All Categories")
                table.column(1).search('^' + selectedCategory + '$', true, false, true).draw();
            else
                table.column(1).search('').draw();
        });
    });
</script>

<h4>
    <h5>
    </h5>
</h4>
<table id="myTable" class="tablesorter-blue">
    Category :
    <select name="categories" id="category" style="margin: 10px 0px 15px 5px;">
        <option>All Categories</option>
        {% for category in categories %}
        <option>{{ category }}</option>
        {% endfor %}
    </select>
    <colgroup>
        <col width="5%" />
        <col width="20%" />
        <col width="50%" />
        <col width="8%" />
        <col width="8%" />
        <col width="8%" />
        <col width="8%" />
        <col width="8%" />
    </colgroup>
    <thead>
        <tr>
            <th>No.</th>
            <th>FOSS</th>
            <th>Question Title </th>
            <th>Date</th>
            <th>Views</th>
            <th>Votes</th>
            <th>Answers</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        {% for question in questions %}
        <tr>
            <td> </td>
            <td>
                <span class="category" data-toggle="tooltip" data-placement="top">
                    <a class="pull-left"
                        href="{% url 'website:filter' question.category|lower %}?qid={{ question.id }}">
                        {{ question.category }}
                    </a>

                </span>
            </td>


            <td>
                <span class="question" data-toggle="tooltip" data-placement="top">
                    <a href="{% url 'website:get_question' question.id %}">{{ question.title|truncatechars:80 }}</a>
                </span>
            </td>

            <td>
                <span style="display: none;">{{ question.date_created |date:"Y-m-d" }}</span>
                {{ question.date_created|date:"d/m/y" }}

            </td>

            <td>
                {{ question.views}}
            </td>
            <td>

                {{ question.num_votes}}

            </td>

            <td>
                {% answer_count question %}
            </td>
            <td>

                <span class="title" data-toggle="tooltip" data-placement="top">
                    <a href="{% url 'view_profile' question.user.id %}">{{ question.user|truncatechars:10 }}
                </span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}

{% block javascript %}
<script>
    $('span').tooltip();
    $('table tbody tr').each(function (idx) {
        $(this).children(":eq(0)").html(idx + 1);
    });
</script>
{% endblock %}
