{% extends 'moderator/templates/base.html' %}
{% load static %}
{% load count_tags %}
{% load widget_tweaks %}

{% block title %}
     Category Form - FOSSEE Forums
{% endblock %}
{% block content %}


    <form  action="" method="POST" autocomplete="off" enctype="multipart/form-data" >{% csrf_token %}
    {% with WIDGET_ERROR_CLASS='field_error' %}

    <div class="row">
        <div class="col-lg-12">
         {{ form.name.errors }}
            <div class="form-group">
                <label for="id_title">Name:</label>
                {% render_field form.name class+="form-control title" %}
            </div>
            {{ form.description.errors }}
             <div class="form-group">
                <label for="id_body" >Description:</label>

                {% render_field form.description class+="form-control body" %}
            </div>
            {{ form.email.errors }}
             <div class="form-group">
                <label for="id_body" >email: </label>

                {% render_field form.email class+="form-control body" %}
            </div>

            {{ form.tag.errors }}
            <div class="form-group">
                <label> Tags: </label>


                {% render_field form.default_tags class+="form-control body" %}
                <label>Comma Seperated List of Tags</label>
            </div>
            {{ form.email.errors }}
            <div class="form-group">

                <label> Category Image: </label>
                <br>
                 {% render_field form.category_image %}
                 <label> Name of file should be same as category name</label>
            </div>
            <br>

           </div>
    </div>

    <input class="btn btn-success" type="submit" value="Save">
    {% endwith %}
    </form>

    <!-- Modal -->
    <div class="modal fade" id="similarModal" tabindex="-1" role="dialog" aria-labelledby="similarModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Similar Questions</h4>
          </div>
          <div class="modal-body" id="modal-body">
            ...
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block javascript %}
<script src="{% static 'website/js/nicEdit.js' %}" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="text/javascript">
bkLib.onDomLoaded(function() {
    new nicEditor({
        fullPanel : true,
        iconsPath: "{% static 'website/js/nicEditorIcons.gif' %}",
        buttonList : ['fontSize','bold','italic','underline','strikeThrough','subscript','superscript','html','image', 'link', 'forecolor', 'bgcolor']
    }).panelInstance('id_body');
});
</script>
<script>
window.onload = function(){

    $(".tag_button").hide();
    Q_tags = "";

    var c2= "{{ category }}";

    if (c2 != '12'){

        $(".tutorial" ).hide()
    }
    else {
         $(".tutorial" ).show()

    }
    if (c2 == "None"){
         $( "#id_category option" ).prop('disabled',false);
    }

    else  if(c2 != ""){

         $("#id_category").val(c2);
         $( "#id_category option:not(:selected)" ).prop('disabled',true);
    }

}

</script>

{% endblock %}

