#loggit {
    color: #fff;
    font-family: "Open Sans",sans-serif;
	background: #404040;
	width: 480px;
	margin: 5% auto;
	padding: 20px 40px;
}
#loggit .captcha-refresh{
    margin-left: 10px;
}
#loggit .form-control.captcha{
    margin: 5px 0;
}
#loggit .form-group{
    margin-bottom: 20px;
}
#loggit a{
    color: #20B2AA;
}
#loggit a:hover{
    color: #D26800;
}

.form-control{
	display:block;
	width:100%;
	height:34px;
	padding:6px 12px;
	font-size:14px;
	line-height:1.42857143;
	color:#555;
	background-color:#fff;
	background-image:none;
	border:1px solid #ccc;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}


.btn-lg,.btn-group-lg>.btn{
	padding:10px 16px;
	font-size:18px;
	line-height:1.33;
	border-radius:6px
}

#loggit h1 {
	text-align: center;
	font-size: 26px;
	font-weight: 700;
	margin: 5px 0 15px;
}
#loggit h3 {
	text-align: center;
	font-size: 14px;
	color: #bbb;
	margin: 0 0 20px;
}
#loggit .input-group-addon {
	border: 0 none;
}
#loggit .form-control {
	border: 0 none;
}
#loggit .form-control:focus {
	box-shadow: none;
}
#loggit .formSubmit {
	margin-bottom: 25px;
}
#loggit .submitWrap {
	text-align: right;
}
#loggit .formNotice {
	margin: 0;
	font-size: 13px;
}
#loggit .formNotice span {
	cursor: pointer;
	color: #428BCA;
}
#loggit .formNotice span:hover,
#loggit .formNotice span:focus {
    color: #2A6496;
    text-decoration: underline;
}
#loggit #regForm {
	display: none;
}
.errorlist{
    color: #FF4500;
    margin-top: 5px;
    margin-bottom: 0px;
}
.input-group.captcha-group{
    background-color: #EEE;
    border: 1px solid #eee !important;
    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
/**********************************************************************/
/****************** MEDIA QUERIES ************************************/
/********************************************************************/
p{
	font-size: 14px;
}
@media(max-width:979px){


}
@media (max-width: 768px) {
	body {
		padding-bottom: 0;
	}
	#loggit {
		margin-top: 0;
		width: 100%;
	}
	#loggit .submitWrap {
		margin-top: 15px;
		text-align: center;
	}
	footer {
		position: relative;
	}
	footer p{
		font-size: 13px;
	}
	
}
@media (max-width: 500px) {
	#loggit {
		width: 100%;
	}
}


.form{width:500px; margin:0 auto; background:#d2d2d2;margin-top: -50px; color:000;}
.headerlogin{height:44px; background:#333;text-transform: uppercase;}
.headerlogin h2{height:44px; line-height:44px; color:#fff; text-align:center;font-size: 20px;}
.login{padding:0 20px}
.login span.un{width:10%; text-align:center; color:#0C6; border-radius:3px 0 0 3px}
.text{background:#12192C; width:90%; border-radius:0 3px 3px 0; border:none; outline:none; color:#999; font-family: 'Source Sans Pro', sans-serif} 
.text,.login span.un{display:inline-block; vertical-align:top; height:40px; line-height:40px; background:#12192C;}
h4{color:#000;}
li{font-size: 14px}
.span{display:table; width:100%; font-size:14px;}
.ch{ width:50%; color:#008CBA;margin-left: 20px;}
.ch a{color:#008CBA; text-decoration:underline;font-size:14px;}
.ch:nth-child(2){text-align:right}
/*social*/
.social{height:30px; line-height:30px; display:table; width:100%}
.social div{display:inline-block; width:42%; color:#eee; font-size:12px; text-align:center; border-radius:3px}
.social div i.fa{font-size:16px; line-height:30px}
.fb{background:#3B5A9A; border-bottom:solid 3px #036} .tw{background:#2CA8D2; margin-left:16%; border-bottom:solid 3px #3399CC}
/*bottom*/
.labellogin{font-size:14px}
.sign{width:90%; padding:0 5%; height:50px; display:table; background:#333}
.sign div{display:inline-block; width:50%; line-height:50px; color:#ccc; font-size:14px}
.up{text-align:right}
.up a{display:block; background:#096; text-align:center; height:35px; line-height:35px; width:50%; font-size:16px; text-decoration:none; color:#eee; border-bottom:solid 3px #006633; border-radius:3px; font-weight:bold; margin-left:50%}
@media(max-width:480px){ .form{width:100%}}






