
{% load static %}
{% load permission_tags %}
<html>
    <head>
        <title>
            {% block title %}
            FOSSEE Forums
            {% endblock %}
        </title>

        <link rel="stylesheet" href="{% static 'website/css/font-awesome.css' %}" type="text/css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="{% static 'website/css/yamm-min.css' %}" type="text/css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="{% static 'website/css/base.css' %}" type="text/css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="{% static 'website/slick/slick.css' %}" type="text/css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="{% static 'website/css/main.css' %}" type="text/css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="{% static 'website/css/nice-bar.css' %}" type="text/css" media="screen" charset="utf-8" />
	    <link rel="stylesheet" href="{% static 'website/css/login.css' %}" type="text/css" media="screen" charset="utf-8" />
	    <link rel="stylesheet" href="{% static 'website/css/theme.blue.css' %}" type="text/css" media="screen" charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/dataTables.bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.min.css' %}">


        <script src="{% static 'website/js/jquery-1.12.0.min.js' %}"></script>
        <script src="{%static 'website/js/like-dislike.min.js' %}"></script>
        <script src="{% static 'website/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'website/js/jquery.tablesorter.min.js' %}"></script>
        {% block extra_head %}{% endblock %}
    </head>

    <body>

    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-NQBKKJ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NQBKKJ');
    </script>
    <!-- End Google Tag Manager -->


    <div id="page-wrapper">
        <div id="header-wrapper">
            <div id="header-inner">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container">

                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">   
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            
                            <a class="navbar-brand" href="{% url 'website:home' %}">
                                <img id="logo" style="width: 70%; height: 70%" src="{% static 'website/images/fossee_logo.png' %}">
                            </a>
                        </div> <!-- /.navbar-header -->
                        
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">

                              <li>
                                <a href="{% url 'website:search' %}">
                                    <span class="glyphicon glyphicon-search"></span> 
                                    Search
                                </a>
                              </li>
                             
                              <li>
                                <a href="{% url 'website:new_question' %}">
                                    <span class="glyphicon glyphicon-pencil"></span> 
                                    Ask a question
                                </a>
                              </li>
                              {% if user.is_authenticated %}
                              <li>
                                    <a href="{% url 'website:user_notifications' user.id %}">
                                        Notifications  
                                        <span class="badge" style="background:#ec0b16; color:#ffffff;">
                                            {% load notify %}
                                            {% notification_count user.id %}
                                        </span>
                                    </a>
                                </li>
                                
                              <li class="dropdown">

                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                   <span class="glyphicon glyphicon-user"></span> 
                                   {{ user }}<b class="caret"></b>
                                </a>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/accounts/view-profile/{{ user.id }}">My Profile</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'password_change' %}">Change password</a>
                                    </li>
                                    {% if user|is_moderator %}
                                        <li>
                                            <a href="{% url 'website:moderator_home' %}">Moderator Panel</a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="{% url 'user_logout' %}">Logout</a>
                                    </li>
                                </ul>
                              </li> 

                              {% else %}
                              <li>
                                <a href="{% url 'user_login' %}">
                                    <span class="glyphicon glyphicon-user"></span> 
                                    Login
                                </a>
                              </li>
                              {% endif %}
                            </ul>
                        </div> <!-- /.navbar-collapse -->
                    </div> <!-- /.container -->
                </nav>
            </div> <!-- /#header-inner -->
        </div> <!-- /#header-wrapper -->

        
        <div id="content-wrapper" >
            <div id="content-inner" class="container">
                <div id="content" class="col-lg-12 col-md-12 col-sm-12">
                    {% block content %}
                    {% endblock %}
                </div> <!-- /#content -->
            </div> <!-- /#content-inner -->
        </div> <!-- /#content-wrapper -->
        
        <div id="footer-wrapper" class="container">
            <div id="footer-inner" class="col-lg-12 col-md-12 col-sm-12">
                <a class="navbar-brand" href="https://fossee.in/" target="_blank">
                    <img id="logo" src="{% static 'website/images/logo.png' %}"> <!-- FOSSEE Forums -->               
                </a>
                <div class="cc">
                    <a class="cc-logo" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
                        <img src="/static/website/images/cc-logo-88x31.png" alt="CC logo">
                    </a> This forum by FOSSEE at <a href="http://www.iitb.ac.in" target="_blank">IIT Bombay</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0 International License</a>
                </div> 
            </div> <!-- /#footer-inner -->
        </div> <!-- /#footer-wrapper -->
    </div> <!-- /#page-wrapper -->
        
  
    <!-- <script src="{% static 'codemirror/lib/codemirror.js' %}"></script> -->
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'website/slick/slick.min.js' %}"></script>
    <script src="{% static 'website/js/nice-bar.js' %}"></script>
    {% block javascript %}
        <!-- overide with custom javascript -->
    {% endblock %}

	<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-60190813-1', 'auto');
        ga('send', 'pageview');

        ga('create', 'UA-82999923-10', 'auto', 'clientTracker');
        ga('clientTracker.send', 'pageview');

    </script>

    </body>

</html>