{% extends MODERATOR_ACTIVATED|yesno:'website/templates/moderator/base.html,website/templates/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load permission_tags %}

{% block title %}
    {{ question.category }} - {{ question.title }} - FOSSEE Forums
{% endblock %}

{% block extra_head %} <link rel="stylesheet" href="{{ STATIC_URL }}css/code.css"> {% endblock %}


{% block content %}

<div class="row">
                        
    <div class="question-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="question">
     <!-- VOTE CELL -->
               
        <div class="votecell" style="padding-top: 0.0cm;">
            <div class="vote">

                {% ifequal thisUserUpvote 0 %}
                <img src="{% static 'website/images/up1-off.png' %}" class="vote-up"/>
                {% else %}
                <img src="{% static 'website/images/up1-on.png' %}" class="vote-up selected"/>
                {% endifequal %}

                <span class="vote-count-post" id="show_vote_count">
                    {{ net_count }}
                </span>
                    
                {% ifequal thisUserDownvote 0 %}
                <img src="{% static 'website/images/down1-off.png' %}" class="vote-down" />
                {% else %}
                <img src="{% static 'website/images/down1-on.png' %}" class="vote-down selected" />
                {% endifequal %}
            </div>                   
        </div>

        <div class="title">
            {{ question.title }}
        </div>

        <div class="body" style="margin-left : 60px">
            <p>{{ question.body| safe}}</p>
            {% if question.image %}
                <img src = {{ question.image.url }} />
            {% endif %}
        </div>
        <br>
         
        <span class="category">
            <small>
                <a href="{% url 'website:filter' question.category %}">
                    {{ question.category }}
                </a>
            </small>
        </span>

        {% if sub_category %}
         <span class="tutorial">
            <small>
                <a href="{% url 'website:filter' question.category question.sub_category %}">
                    {{ question.sub_category}}
                </a>
            </small>
        </span>
        {% endif %}

        {% if MODERATOR_ACTIVATED %}
            {% if question.is_spam %}
                <span class="spam">
                    <small>
                        <a href="{% url 'website:moderator_questions' %}?spam">
                            Spam
                        </a>
                    </small>
                </span>
            {% else %}
                <span class="non-spam">
                    <small>
                        <a href="{% url 'website:moderator_questions' %}?non-spam">
                            Not Spam
                        </a>
                    </small>
                </span>
            {% endif %}
        {% endif %}

        <span class="modify">
            {% if user|can_edit:question and not ans_count or user|is_moderator and MODERATOR_ACTIVATED %}
                <a class="edit btn btn-xs btn-info" href="{% url 'website:edit_question' question.id %}">Edit</a>
                <a class="delete btn btn-xs btn-info" data-toggle="modal" data-target="#questionDeleteModal" href="#">Delete</a>
            {% endif %}
        </span>
        
        <span class="meta">
            <small>
                <i>
                    {{ question.date_created|date:"d-m-y" }}, {{ question.date_created|time }}
                </i>
            </small>
            
            <span class="user">
                <a href="/accounts/view-profile/{{ question.user.id }}"> {{question.user}} </a>
            </span>
        </span>
       
    </div> <!-- /.question -->
    </div>
     
</div> <!-- /.row -->


<h4><u>Answers:</u></h4>
<div id="answerPanelWrapper" style="display:none;">
    <div id="answerNicPanel" style="display:none;"></div>
</div>

<div id="commentPanelWrapper" style="display:none;">
    <div id="commentNicPanel" style="display:none;"></div>
</div>



{% for answer, ans_vote in main_list %}

<div class="row">
    <div class="answer-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
        
        <div class="votecell" style="padding-top: 9px;">      
            <div class="ans-vote" >
                {% ifequal ans_vote.0 0 %}
                    <img src="{% static 'website/images/up1-off.png' %}" class="ans-vote-up {{ answer.uid }}"  id="up{{ answer.id }}" title="This question shows research effort; it is useful and clear"/>
                {% else %}
                    <img src="{% static 'website/images/up1-on.png' %}" class="ans-vote-up selected {{ answer.uid }}" id="up{{ answer.id }}" title="This question shows research effort; it is useful and clear"/>
                {% endifequal %}
    
                <span class="vote-count-post" id="span{{ answer.id }}" >
                    {{ ans_vote.2 }}
                </span>
                {% ifequal ans_vote.1 0 %}
                    <img type="image" src="{% static 'website/images/down1-off.png' %}" class="ans-vote-down {{ answer.uid }}"  id="down{{ answer.id }}" title="This question does not show any research effort; it is not useful and unclear" />
                {% else %}
                    <img src="{% static 'website/images/down1-on.png' %}" class="ans-vote-down selected {{ answer.uid }}" id="down{{ answer.id }}" title="This question does not show any research effort; it is not useful and unclear"/>
                {% endifequal %}
            </div>
        </div>

        <div class="answer {% if user|is_moderator %}editable{% endif %}" id="answer{{answer.id}}" style="margin-left: 63px;">                               
            
            <div class="body" id="body{{ answer.id }}" style="padding-bottom: 12px; padding-top: 15px">
                <p>{{ answer.body| safe }}</p>
                {% if answer.image %}
                    <img src = {{ answer.image.url }} />
                {% endif %}
            </div>

            {% if MODERATOR_ACTIVATED %}
                {% if answer.is_spam %}
                    <span class="spam">
                        <small>
                            <a href="#">
                                Spam
                            </a>
                        </small>
                    </span>
                {% else %}
                    <span class="non-spam">
                        <small>
                            <a href="#">
                                Not Spam
                            </a>
                        </small>
                    </span>
                {% endif %}

            <a data-toggle="modal" data-target="#detailsModal{{ answer.id }}" href="#">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            {% endif %}
            
            <span class="meta">
                <small>
                    <i>
                        {{ answer.date_created|date:"d-m-y" }}, {{ answer.date_created|time }}
                    </i>
                </small>
                
                <span class="user" style="background-color: #FFFFFF;padding: 2px 7px">
                    <a href="/accounts/view-profile/{{ answer.user.id }}"> {{answer.user}} </a>
                </span>
            </span>

            {% if user|is_moderator and MODERATOR_ACTIVATED  %}
            <span class="modify" style="display:block">
                <a class="delete btn btn-xs btn-info vs" data-toggle="modal" data-target="#answerDeleteModal" href="#">Delete</a>
                <a class="edit btn btn-xs btn-info vs" href="#{{ answer.id }}" data-target="body{{ answer.id }}">Edit</a>
                <a class="save btn btn-xs btn-success vs"  data-target="body{{ answer.id }}" data-aid="{{ answer.id }}" href="#">Save</a>
            </span>
            {% endif %}

                            
            <!-- Modal to mark answer as spam/non-spam -->
            <div class="modal fade" id="detailsModal{{ answer.id }}" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Edit Answer Details</h4>
                    </div>
                    <div class="modal-body">
                        <h5>Mark answer as:</h5>
                            <form method="POST" action="{% url 'website:mark_answer_spam' answer.id %}">
                            {% csrf_token %}
                                <select name="selector">
                                    {% if answer.is_spam %}
                                        <option value="spam" selected>Spam</option>
                                        <option value="non-spam">Not spam</option>
                                    {% else %}
                                        <option value="spam">Spam</option>
                                        <option value="non-spam" selected>Not spam</option>
                                    {% endif %}
                                </select>
                                <hr>
                                <div class="pull-right">
                                    <input type="submit" class="btn btn-sm btn-success" value="Submit">
                                    <a class="btn btn-sm btn-default" data-dismiss="modal" href="#">Close</a>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div> <!-- /.modal-body -->
                    </div> <!-- /.modal-content -->
                </div> <!-- /.modal-dialog -->
            </div> <!-- /.modal -->

            <!-- Modal to delete answer -->
            <div class="modal fade" id="answerDeleteModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Delete answer</h4>
                    </div>
                    <div class="modal-body">
                        <h5>Why is this answer being deleted?</h5>
                        <form method="POST" action="{% url 'website:question_delete' question.id %}">
                        {% csrf_token %}
                            <textarea name="deleteAnswer" required></textarea>
                            <hr>
                            <div class="pull-right">
                                <input type="submit" class="btn btn-sm btn-success" value="Okay">
                                <a class="btn btn-sm btn-default" data-dismiss="modal" href="#">Close</a>
                            </div>
                        </form>   
                    <div class="clearfix"></div>
                    </div> <!-- /.modal-body -->
                    </div> <!-- /.modal-content -->
                </div> <!-- /.modal-dialog -->
            </div> <!-- /.modal -->

        </div> <!-- /.answer -->
        
        <div class="row" style="padding-left: 40px">
            <div class="comments pull-right col-lg-11 col-md-11 col-sm-11 col-xs-11" >
                <!-- displaying comments -->
                {% for comment in answer.answercomment_set.all %}
                <div class="comment comment{{ comment.id }}" style="padding: 15px 15px 15px 5px;">
                    <div class="body" id="cbody{{ comment.id }}">
                        <p>{{ comment.body| safe }}</p>
                    </div>
                    
                    <br>

                    {% if user|is_moderator and MODERATOR_ACTIVATED %}
                    <span class="meta_co" style="position: absolute; left: 0px; bottom: 0px; padding: 7px 7px;">
                        <a class="delete-comment btn btn-xs btn-info vs" id="{{ comment.id }}" href="#">Delete</a>
                    </span>
                    {% endif %}
                    
                    <span class="meta_co" style="position: absolute;right: 0px; bottom: 0px;">
                        <small>
                            <i>
                                {{ comment.date_created|date:"d-m-y" }}, {{ comment.date_created|time }}
                            </i>
                        </small>
                        
                        <span style="padding: 2px 7px">
                            <a href="/accounts/view-profile/{{ comment.user.id }}"> {{comment.user}} </a>
                        </span>
                    </span>

                </div>
                {% endfor %}
                
                
                <!-- form to add comment -->
                {% if user.is_authenticated %}
                 
                {% if not MODERATOR_ACTIVATED %}
                    <form id="form{{ answer.id }}" method="post" action="{% url 'website:answer_comment' %}" > {% csrf_token %}
                        <input type="hidden" name="answer_id" value="{{ answer.id }}">
                        <textarea name="body" class="new-comment form-control" id="comment{{ answer.id }}" rows="2"></textarea>
                    </form>
                
                    <a class="add-comment" style="background: #46B8DA none repeat scroll 0% 0%;color: #FFF;border-radius: 3px;padding: 5px 12px;" href="#" data-target="comment{{ answer.id }}">
                        <small>add comment</small>
                    </a>
                {% endif %}
              
                 
                <a class="post-comment" href="#" data-target="comment{{ answer.id }}" data-aid="{{ answer.id }}" data-form="form{{ answer.id }}">

                    <small>post comment</small>
                </a>
                
                <a class="cancel-comment" href="#" data-target="comment{{ answer.id }}">
                    <small>cancel comment</small>
                </a>
               
                {% else %}
                <br>
                <a class="btn btn-xs btn-success vs" href="/accounts/login">
                    Login to add comment
                </a>
                {% endif %}
                 
            </div> <!-- comments -->
        </div> <!-- /.row -->
        <br> <hr>
    </div> <!-- /.answer-wrapper -->
</div> <!-- /.row -->
{% endfor %}

{% if not MODERATOR_ACTIVATED %}
    {% if user.is_authenticated %}
        <form action="{% url 'website:question_answer' question.id %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            {{ form.media }}
            {% with WIDGET_ERROR_CLASS='field_error' %}

                <div class="row"> 
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {{ form.body.errors }}
                        <div class="form-group">
                            {% render_field form.question value=question.id %}
                            <label for="id_body"><h4><u>Your Answer:</u></h4></label>
                            <br>
                            {% render_field form.body class+="form-control body" %}
                            <br>
                            <br>
                            <label for="id_image">Upload an image:</label>
                            {% render_field form.image %}
                        </div>       
                    </div> 
                </div>
                
                
            {% endwith %}

            <script src='https://www.google.com/recaptcha/api.js'></script>

            <div class="g-recaptcha" data-sitekey="{{ SITE_KEY }}" data-callback="enableBtn"></div>

            <script type="text/javascript">
                function enableBtn(){
                    document.getElementById("submit_answer").disabled = false;
                }
                function changeText() {
                    document.getElementById("submit_answer").value = "Submitting...";
                    return validate_dd();
                }
            </script>
            <br>

            <input id="submit_answer" class="btn btn-sm btn-info" onclick="changeText()" type="submit" value="Submit Answer" disabled>
        </form>

    {% else %}
        <h4>
            <a class="btn btn-xs btn-success" href="{% url 'user_login'%}?next={{ request.get_full_path|urlencode }}"><b>Log-in</b></a> to answer to this question.
        </h4> 
    {% endif %}
{% endif %}

<!-- Modal to delete question -->
<div class="modal fade" id="questionDeleteModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Delete question</h4>
        </div>
        <div class="modal-body">
            {% if MODERATOR_ACTIVATED %}
                <h5>Why is this question being deleted?</h5>
            {% else %}
                <h5>Are you sure about deleting the question?</h5>
            {% endif %}
            <form method="POST" action="{% url 'website:question_delete' question.id %}">
            {% csrf_token %}
                {% if MODERATOR_ACTIVATED %}
                    <textarea name="deleteQuestion" required></textarea>
                {% endif %}
                <hr>
                <div class="pull-right">
                    <input type="submit" class="btn btn-sm btn-success" value="Okay">
                    <a class="btn btn-sm btn-default" data-dismiss="modal" href="#">Close</a>
                </div>
            </form>   
        <div class="clearfix"></div>
        </div> <!-- /.modal-body -->
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

{% endblock %}

{% block javascript %}
<script src="{% static 'website/js/nicEdit.js' %}" type="text/javascript"></script>
   
<script type="text/javascript">
    $(".user_co").each(function() {
        var hue = 'rgb(' + (Math.floor((256-199)*Math.random()) + 200) + ',' + (Math.floor((256-199)*Math.random()) + 200) + ',' + (Math.floor((256-199)*Math.random()) + 200) + ')';
        $(this).css("background-color", hue);
    });
    
    // Run below code only when document is completely loaded
    $(document).ready(function() {
        
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });

        // CSS property to allow mouse-handling functions
        $('div.vote img.vote-up').css('pointer-events','auto');
        $('div.vote img.vote-down').css('pointer-events','auto');
        $('div.ans-vote img.ans-vote-up').css('pointer-events','auto');
        $('div.ans-vote img.ans-vote-down').css('pointer-events','auto');


        /* VOTE FOR QUESTION */
        $('div.vote img.vote-up').click(function() {
            
            var question_user_id = {{ question.user_id }};
            var current_user_id = {{ request.user.id }};
            var id = {{ question.pk }};
            var vote_type = 'up';
        
            if (question_user_id != current_user_id) {

                /* USER HAS ALREADY VOTED */
                if ($(this).hasClass('selected')) {
                    var vote_action = 'recall-vote'
                    $.post('/vote_post/', {id:id, type:vote_type, action:vote_action}, function(response) {
                        $('img.vote-up').removeAttr('src')
                            .attr('src', "{% static 'website/images/up1-off.png' %}")
                            .removeClass('selected');
                        $('div.vote span.vote-count-post').html(response);
                    });
                }
                
                /* USER WISHES TO VOTE */
                else {
                    var vote_action = 'vote'
                    $.post('/vote_post/', {id:id, type:vote_type, action:vote_action}, function(response) {
                        if ($('img.vote-down').hasClass('selected')) {
                            $('img.vote-down').removeAttr('src')
                                .attr('src', "{% static 'website/images/down1-off.png' %}")
                                .removeClass('selected');
                        }
                        $('img.vote-up').removeAttr('src')
                            .attr('src', "{% static 'website/images/up1-on.png' %}")
                            .addClass('selected');
                        $('div.vote span.vote-count-post').html(response);
                    });
                }
            }

            else {
                $(this).attr("title", "User who posted cannot vote");
            }

        });

        /* DOWNVOTE */
        $('div.vote img.vote-down').click(function() {

            var question_user_id = {{ question.user_id }};
            var current_user_id = {{ request.user.id }};
            var id = {{ question.pk }};
            var vote_type = 'down';
        
            if (question_user_id != current_user_id) {
            
                /* USER HAS ALREADY DOWN-VOTED */
                if ($(this).hasClass('selected')) {
                    var vote_action = 'recall-vote';
                    $.post('/vote_post/', {id:id, type:vote_type, action:vote_action}, function(response) {
                        $('img.vote-down').removeAttr('src')
                            .attr('src', "{% static 'website/images/down1-off.png' %}")
                            .removeClass('selected');
                        $('div.vote span.vote-count-post').html(response);
                    });
                }

                /* USER WISHES TO VOTE */
                else {
                    var vote_action = 'vote';
                    $.post('/vote_post/', {id:id, type:vote_type, action:vote_action}, function(response) {
                        if ($('img.vote-up').hasClass('selected')) {
                            $('img.vote-up').removeAttr('src')
                                .attr('src', "{% static 'website/images/up1-off.png' %}")
                                .removeClass('selected');
                        }
                        $('img.vote-down').removeAttr('src')
                            .attr('src', "{% static 'website/images/down1-on.png' %}")
                            .addClass('selected');
                        $('div.vote span.vote-count-post').html(response);
                    });
                }
            }

        });

        /* TO DISPLAY ERROR TEXT IF SAME USER VOTES */
        $('div.vote').hover(function() {

            var question_user_id = {{ question.user_id }};
            var current_user_id = {{ request.user.id }};

            if (question_user_id == current_user_id) {
                $(this).attr("title", "User who posted cannot vote.");
            }

        });


        
        /* VOTE FOR ANSWERS */
        
        /* UP VOTE */
        $('div.ans-vote img.ans-vote-up').click(function(event) {
       
            var vote_type = 'up';
            var up_id = event.target.id;
            var id = up_id.replace('up','');
            var down_id = up_id.replace('up','down');
            var current_user_id = {{ request.user.id }};

            // Getting the user ID of current answer
            if ($(this).hasClass('selected'))
                var answer_user_id = event.target.classList.item(2);
            else
                var answer_user_id = event.target.classList.item(1);
           
            if (answer_user_id != current_user_id) {
            
                /* USER WISHES TO RECALL VOTE */
                if ($('img#'+up_id).hasClass('selected')) {
                    var vote_action = 'recall-vote'
                    $.post('/ans_vote_post/', {id:id, type:vote_type, action:vote_action}, function(response) {
                        $('img#'+up_id).removeAttr('src')
                            .attr('src', "{% static 'website/images/up1-off.png' %}")
                            .removeClass('selected');  
                        $('span#span'+id).html(response);   
                    });
                }
                
                /* USER WISHES TO VOTE */
                else {
                    var vote_action = 'vote'
                    $.post('/ans_vote_post/', {id:id, type:vote_type, action:vote_action}, function(response) {
                        if ($('img#'+down_id).hasClass('selected')) {
                            $('img#'+down_id).removeAttr('src')
                                .attr('src', "{% static 'website/images/down1-off.png' %}")
                                .removeClass('selected');
                        }
                        $('img#'+up_id).removeAttr('src')
                            .attr('src', "{% static 'website/images/up1-on.png' %}")
                            .addClass('selected');
                        $('span#span'+id).html(response);
                    });
                }
            }
          
        }); 
        /* END OF UP VOTE FOR ANSWERS */
        

        /* DOWNVOTE */
        $('div.ans-vote img.ans-vote-down').click(function(event) {

            var vote_type = 'down';
            var down_id = event.target.id;
            var id = down_id.replace('down','');
            var up_id = down_id.replace('down','up');
            var current_user_id = {{ request.user.id }};

            // Getting the user ID of current answer
            if ($(this).hasClass('selected'))
                var answer_user_id = event.target.classList.item(2);
            else
                var answer_user_id = event.target.classList.item(1);
           
            
            if (answer_user_id != current_user_id) {

                /* USER HAS ALREADY DOWN-VOTED */
                if ($('img#'+down_id).hasClass('selected')) {
                    var vote_action = 'recall-vote'
            
                    $.post('/ans_vote_post/', {id:id, type:vote_type, action:vote_action}, function(response) {
                        $('img#'+down_id).removeAttr('src')
                            .attr('src', "{% static 'website/images/down1-off.png' %}")
                            .removeClass('selected');
                        $('div.ans-vote span#span'+id).html(response);
                    });
                }

                /* USER WISHES TO VOTE */
                else {
                    var vote_action = 'vote'
                    $.post('/ans_vote_post/', {id:id, type:vote_type, action:vote_action}, function(response) {
                        if ($('img#'+up_id).hasClass('selected')) {
                            $('img#'+up_id).removeAttr('src')
                                .attr('src', "{% static 'website/images/up1-off.png' %}")
                                .removeClass('selected');
                        }
                        $('img#'+down_id).removeAttr('src')
                            .attr('src', "{% static 'website/images/down1-on.png' %}")
                            .addClass('selected');
                        $('div.ans-vote span#span'+id).html(response);
                    });
                }
            }
        });

        /* DELTETING A COMMENT */
        $('.delete-comment').click(function(event) {
            var id = event.target.id;
            $.post('/ajax-answer-comment-delete/', {comment_id: id}, function() {
                location.reload();
            });
        });

    });
     
 
</script>
   
<script src="{% static 'website/js/thread-user.js' %}"></script>
<script src="{% static 'website/js/custom.js' %}"></script>

{% endblock %}
