{% extends 'website/templates/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    {% for category in categories %}
    <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="thumbnail">
            <img src="{% static "website/images/" %}{{ category }}.jpg" height="75px" width="100%">
            <div class="caption">
                <h3>{{ category }}</h3>
                <p>
                <a class="btn btn-xs btn-default btn-block vs" href="/filter/{{ category }}">View Questions</a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
