{% extends 'website/templates/base.html' %}
{% block content %}
{% for category in categories %}
    <div class="category col-lg-4">
        <a href="{% url 'website:fetch_tutorials' category %}">{{ category }}</a>
        <br>
        {% load count_tags %}
        <span class="posts">
            {% category_post_count category %} posts, 
        </span>
        <span class="replies">
            {% category_post_count category %} replies
        </span>
        <span class="helper">
            A
        </span>
    </div>
{% endfor %}
<div class="clear"></div>
{% endblock %}
