{% extends MODERATOR_ACTIVATED|yesno:'website/templates/moderator/base.html,website/templates/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    Ask a question - FOSSEE Forums
{% endblock %}
{% block content %}
    <h4 style="padding-top: 15px;">
        <span class="glyphicon glyphicon-pencil">
        </span> {% block pagetitle %} Create a new question . . . {% endblock %}
    </h4>
    <hr>
    <form role="form" action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {{ form.media }}
    {% with WIDGET_ERROR_CLASS='field_error' %}
    <p>
    <strong>Select the category:</strong>
        <img id="ajax-loader" src="{% static 'website/images/ajax-loader.gif' %}" style="display:none;">
    </p>
    <div class="row">
    	{{ form.category.errors }}
        <div class="col-lg-3 col-md-3 col-sm-3">
            {% render_field form.category class+="form-control category"%} 
        </div>
        <div id = 'tutorial' class="col-lg-3 col-md-3 col-sm-3">
            {% if category %}
                {% render_field form.tutorial class+="form-control tutorial" %}
            {% else %}
                {% render_field form.tutorial class+="form-control" %} 
            {% endif %}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-12">
            {{ form.title.errors }}
            <div class="form-group">
                <label for="id_title"><strong>Question Title:</strong></label>
                {% render_field form.title class+="form-control title" %} 
            </div>
            {{ form.body.errors }}
            <div class="form-group">
                <label for="id_body" ><strong>Question Description:</strong></label>
                <br>
                {% render_field form.body class+="form-control body" %}
            </div>
            {{ form.image.errors }}
            <div class="form-group">
                {% block picturetitle %}
                    <label for="id_image" ><strong>Upload a picture:</strong></label>
                {% endblock %}
                {% render_field form.image %}
            </div>

            <div class="form-group">
                {% block spamCheckbox %}
                {% endblock %}
            </div>
        </div>
    </div>

    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="{{ SITE_KEY }}" data-callback="enableBtn"></div>

    <script type="text/javascript">
        function enableBtn() {
            document.getElementById("submit_question").disabled = false;
        }
        function changeText() {
            document.getElementById("submit_question").value = "Submitting...";
            return validate_dd();
        }
    </script>

    {% block submitbutton %}
        <br>
        <input id="submit_question" class="btn btn-success" onclick="changeText()" type="submit" value="Submit Question" disabled>
    {% endblock %}
    
    {% endwith %}
    </form>

    <script>
        window.onload = function(){        
            var c2= "{{ category }}";   
            if (c2 != '12'){      
                $(".tutorial" ).hide();  
            }
            else {
                $(".tutorial" ).show();    
            }
            if (c2 == "None"){  
                // $("#id_category").val(c2);
                $( "#id_category option" ).prop('disabled',false);         
            }   
            else  if(c2 != ""){   
                $("#id_category").val(c2);
                $( "#id_category option:not(:selected)" ).prop('disabled',true);     
            }      
        }
    </script>
{% endblock %}

{% block javascript %}
    <script src="{% static 'website/js/custom.js' %}"></script>
{% endblock %}
