{% extends 'website/templates/base.html' %}
{% load static %}
{% block content %}

  <style>
       .gsc-search-button
{
    background-color: #C0C0C0 ;
    border-radius: 5px;


}
    
    </style>

   <!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active" ><a href="#search-by-keyword" data-toggle="tab">Search by Keyword</a></li>
  <!--<li><a href="#search-by-time" data-toggle="tab">Search by Time</a></li> -->
</ul>

<!-- Tab panes -->
<div class="tab-content">

 <div style="float:right; margin-right: 50px; width: 400px;">
       <script>
  (function() {
    var cx = '011342992297670206849:dfzecvqmvgc';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
    </div>

<br>
    <div class="tab-pane active" id="search-by-keyword">
        <div class="row">
            <div class="col-lg-10">
                <input id="search-key" class="form-control" placeholder="eg: python, scilab">
            </div>
            <div class="col-lg-2">
                <a id="search-key-submit" class="btn btn-primary btn-sm btn-block" href="#">Search</a>
            </div>
        </div>

        <div id="keyword-search-results">
        </div>
    </div>
</div>  <!-- tab panes -->

{% endblock %}

{% block javascript %}
    <script src="{% static 'website/js/search.js' %}"></script>
{% endblock %}

