{% extends 'website/templates/base.html' %}
{% load count_tags %}
{% block content %}
    <h4>My Questions</h4>
    {% for question in questions %}
        <div class="my-question">
            <span class="title">
                <a href="{% url 'website:get_question' question.id %}">{{ question.title }}</a>
            </span>
            <br>
            <span class="date">
                <small>
                Asked on:
                {{ question.date_created }}
                </small>
            </span>
        </div>
    {% endfor %}
    
    {% if total > 10 %}
        <ul class="pagination pull-right">
            {% for i in total|get_range:"0,10" %}
                <li>
                    <a href="{% url 'website:user_questions' user.id %}?marker={{ i }}">
                        {% if i == marker %}
                            <strong>{{ i|div:"10"|inc }}</strong>
                        {% else %}
                            {{ i|div:"10"|inc }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
