{% extends 'website/templates/moderator/base.html' %}
{% load static %}
{% load notify %}
{% load count_tags %}
{% load helpers %}
 
<link rel="stylesheet" href="{% static 'website/css/main.css' %}" type="text/css" media="screen" charset="utf-8" />

{% block content %}
{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success h5">
        {% else %}
        <div class="alert alert-danger h5">
        {% endif %}
            <a class="close" data-dismiss="alert" aria-label="close" style="color: black;">&times;</a>
            <b>{{ message }}</b>
        </div>
    {% endfor %}
{% endif %}

<script>
    $(document).ready(function()
    {
          var table = $("#myTable").DataTable({
          // 'sPaginationType': "scrolling"
          });
          $('#category').change(function(e){
            var selectedCategory = $(this).children("option:selected").val();
            if( selectedCategory != "All Categories")
                table.column(1).search('^' + selectedCategory + '$', true, false, true).draw();
            else
                table.column(1).search('').draw();
        });
    });
</script>

<div id="carousel-container">
    <div class="carousel">
        {% for category in categories %}
        <div>
            <div class="thumbnail">
                    {% if category.image %}
                        <img src={{ category.image.url }} />
                    {% else %}
                        <div class="category-title">{{ category }}</div>
                    {% endif %}
                <div class="caption">
                    <small class="category">
                        {{ category.description }}
                    </small>
                    <hr>
                    {% latest_question category %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div> <!-- /.carousel -->


<div id="filter-container">
    <div class="row" style="margin-left: 12%;">
        <form class ="" id="filter-form" action="" role="form">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="width: 65%;">
                <a class="btn btn-block btn-primary" href="{% url 'website:moderator_questions' %}" style="margin-top: 18px;">View all questions from your categories</a>
            </div> <!-- /.col -->
        </form>
        <div class="col-lg-6 col-md-6 col-sm-6" style="width: 25%;">
            <div class="row" style="margin-left: 11px;">

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="width: 100px; margin-right:40px; " >
                    <h3 style="font-size: 18px" align="center"><strong>{% length questions %}</strong></h3>
                    <h3 style="font-size: 18px; margin-top: 1px;" align="center" text-color="#7395d9" >Questions</h3>
                </div>
                
            </div>
        </div>
    </div> <!-- /.row -->
</div> <!-- /#filter-container -->

<br>
    <div class="panel panel-default">
        <div class="panel-heading">
            Recent questions
        </div>
        <div class="panel-body">
            <table id="myTable" class="tablesorter-blue"> 
                Category : 
            <select name="categories" id="category" style="margin: 10px 0px 15px 5px;">
                <option>All Categories</option>
                {% for category in categories %}
                    <option>{{ category }}</option>
                {% endfor %}
            </select>
            <colgroup>
                <col width="4%" />
                <col width="18%" />
                <col width="50%" />
                <col width="7%" />
                <col width="7%" />
                <col width="6%" />
                <col width="7%" />
            </colgroup>

            <thead> 
                <tr> 
                    <th>No.</th>
                    <th>Category</th>
                    <th>Question Title </th>
                    <th>Date</th>
                    <th>Views</th>
                    <th>Answers</th>
                    <th>Spam</th>
                    <th>Deleted</th>
                </tr> 
            </thead>
            
            <tbody id="question-content"> 
                {% for question in questions|get_recent_questions %}
                <tr>
                    <td></td>
                    <td>
                        <span class="category" data-toggle="tooltip" data-placement="top" >
                                <a class="pull-left" href="{% url 'website:filter' question.category|lower %}?qid={{ question.id }}" style="line-spacing:50px;">
                                {{ question.category }}   
                                </a> 
                        </span>
                    </td>
                        
                    <td>
                        <span class="question" data-toggle="tooltip" data-placement="top" >
                            <a href="{% url 'website:get_question' question.id %}">{{ question.title|truncatechars:80 }}</a>
                        </span>           
                    </td>
                    
                    <td>   
                        <span>{{ question.date_created|date:"d/m/y" }}</span>
                    </td>
                    
                    <td>
                        {{ question.views}}
                    </td>
                    
                    <td>
                        {{ question.answer_set.count }}
                    </td>

                    <td>
                    {{ question.is_spam|yesno:"Yes, No" }}
                    </td>
                    <td>
                        {{ question.is_active|yesno:"No, Yes" }}
                    </td>
                </tr>
                {% endfor %}
            </tbody> 
        </table>


    </div> <!-- /.panel-body -->
</div> <!-- /.panel -->
{% endblock %}

{% block javascript %}
<script>


    $('table tbody tr').each(function(idx){
        $(this).children(":eq(0)").html(idx + 1);
    });



    $(document).ready(function() {

        var length = {% length categories %};
        if (length > 4) {
            length = 4;
        }
        
        $carousel = $('.carousel').slick({
            lazyLoad: 'ondemand',
            dots: false,
            touchMove: true,
            draggable: true,
            slidesToShow: length,
            slidesToScroll: 1,
            speed: 2000,
            autoplay: true,
            autoplaySpeed: 2000,
            infinite: true,
        });
        $(".slick-prev").unbind();
        $(".slick-next").unbind();
        
        $(".slick-prev").bind("click", function(e) {
            var current_slide = $carousel.slickCurrentSlide();
            $carousel.slickSetOption("slidesToScroll",3);
            $carousel.slickGoTo(current_slide - 3);
            $carousel.slickSetOption("slidesToScroll",1);
            e.stopPropagation();
        });
        $(".slick-next").bind("click", function(e) {
            var current_slide = $carousel.slickCurrentSlide();
            $carousel.slickSetOption("slidesToScroll",3);
            $carousel.slickGoTo(current_slide + 3);
            $carousel.slickSetOption("slidesToScroll",1);
            e.stopPropagation();
        });
        $("#filter-form").submit(function(e) {
            var category = $("#filter-select").val();
            if(category != -1) {
                window.location = "/filter/" + category;
            }
            e.preventDefault();
        });
    });
    $('span').tooltip();
</script>
{% endblock %}
