<div>
<div id="similar-count">
    {% if questions.count > 0 %}
        {% if questions.count == 1 %}
            1 similar question
        {% else %}
            {{ questions.count }} similar questions
        {% endif %}
    {% endif %}
</div>
<br>
<table class="table table-bordered table-hover">
{% for question in questions %}
    <tr>
        <td>
            <a href="{% url 'website:get_question' question.id %}" target="_blank">
                {{ question.title }}
            </a>
        </td>
    </tr>
{% endfor %}
</table>
</div> <!-- /div for ajax -->
