{% load count_tags %}
<div>
<div id="minutes">
    <option value="">min</option>
    {% for i in minutes|inc|get_range %}
        {% if i < 10 %}
            {% if i == 9 %}
                <option value="0{{ i }}-{{ i|inc }}">{{ i }}-{{ i|inc }} </option>
            {% else %}
                <option value="0{{ i }}-0{{ i|inc }}">{{ i }}-{{ i|inc }} </option>
            {% endif %}
        {% else %}
            <option value="{{ i }}-{{ i|inc }}">{{ i }}-{{ i|inc }} </option>
        {% endif %}
    {% endfor %}
</div> <!-- /#minutes -->

<div id="seconds">
    <option value="">sec</option>
    {% for i in seconds|get_range:"0,10" %}
        <option value="{{ i }}-{{ i|add:"10" }}">{{ i }}-{{ i|add:"10" }}</option>
    {% endfor %}
</div> <!-- /#seconds -->
</div> <!-- /required for ajax -->
