{% extends "website/templates/base.html" %}
{% load widget_tweaks %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'website/css/login.css' %}">
<br><br><br>
<div class="row">
<div class="form">
<div class="headerlogin"><h2>Update Password</h2></div>
<div class="login">
  {% if no_match %}
              <center>
                <div class="alert" style="width:400px;height:50px;">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    <p>Password & Confirm Password did not match</p>
                </div>
              </center>
              <div class="clearfix"></div>
          {% endif %}
        <form  method="POST"> {% csrf_token %}
           
            {% with WIDGET_ERROR_CLASS='field_error' %} 
                <p>Enter the Email address you used while registration.</p>
                <p >We will send you the updated login details on your Email address.</p>
                <p><input class="pwd-recovery-email" type=password id="new_password" name="new_password" placeholder="New Password">
                    <p><input class="pwd-recovery-email" type=password id="confirm_new_password" name="confirm_new_password" placeholder="Confirm New Password">
                    <p><input class="btn btn-primary btn-sm" type=submit value="Update Password">
            {% endwith %}

        </form>
         </br>
        </div>
         <div class="sign">
<div class="need">Already Registered? </div>
<div> <a href="/accounts/login/" class="btn  btn-sm btn-success">Login </a></div>
</div>
    </div>
</div>
{% endblock %}

